@model IEnumerable<GrammyAwards.Models.AwardDto>

@{
    ViewData["Title"] = "Awards";
}

<h1>Awards</h1>

<p>
    <a asp-action="New">Create New Award</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Award Name
            </th>
            <th>
                Description
            </th>
            <th>
                Number of Nominations
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AwardId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AwardId">Details</a> |
                    <a asp-action="ConfirmDelete" asp-route-id="@item.AwardId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
